@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Aladin');
body, html{
  height:100%;
  margin:0;
  font-family: "Poiret One";
  font-weight:400;
  color: #666 ;
}
#Name:hover {
  -webkit-animation: Neon 3.5s infinite;
}
.text{
  color:white;
  text-align: center;
  font-weight: 900;
}

nav {
  display: flex;
  font-size: 3vw;
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  color:black;
}
nav a {
  flex-grow: 1;

}
a:link{
  color:black;
}
a:visited {
    color: black;
}

#head{
  background-color: #fff;
  padding: 1px;
  display: block;
  margin-left: 39.5vw;
  margin-top: 13vw;
  border-radius: 50%;
  width:20vw;
  height: auto;
  
}

.container,.container2,.container3{
  min-height:100%;
  position:relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
.container{
  background-color:black;
}

.container:before {
  content: '<';
  left: 0;
}
.container:after {
  content: '>';
  right: 0;
}
.container:after, .container:before {
  text-align: center;
  position: absolute;
  top: 50%;
  width:70%;
  transform: translateY(-17%);
  color: white;
  font-size: 6.5vw;
  font-weight: lighter;
  font-family: 'Aladin';
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: 0.5;
}

.container3{
  background-image:url('../img/hongkong1.jpg');
  overflow:hidden;
  background-attachment: fixed;
  text-align: center;
}
.ptext1,.ptext2, .ptext3{
  font-family: "Poiret One";
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  font-weight: normal;
  text-transform:uppercase;
  vertical-align: middle;
}
.ptext1{
  color: white;
  font-size:4vw;
  z-index: 999;

}
.ptext2{
  color: white;
  font-size:6vw;
  margin: auto;
}
.ptext3{
  font-size: 10vw;
  color: white;
}
.img-src {
    position: fixed;
    background-position: center;
    -webkit-background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.blur { opacity: 0; }
#demo{
  font-size:10vw;
}
@media(max-width:568px){
  .pimg1,.pimg2{
    background-attachment:scroll;
  }
}


@-webkit-keyframes opacity {
  0%,100%{
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes Neon{
  0% {
    text-shadow: 0 0 20px #FF1a1a, 0 0 20px #FF1a1a,0 0 20px #FF1a1a, 0 0 20px #FF1a1a,0 0 20px #FF1a1a, 0 0 20px #FF1a1a,0 0 10px #FF1a1a, 0 0 10px #FF1a1a, 0 0 10px #FF1a1a, 0 0 15px #FF1a1a, 0 0 15px #FF1a1a,0 0 15px #FF1a1a, 0 0 5px #FF1a1a,
                 0 0 5px #FF1a1a, 0 0 5px #FF1a1a, 0 0 5px #FF1a1a;
  }
  50% {
    text-shadow: 0 0 15px #ffffff, 0 0 10px #ffffff , 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff , 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
  }

  100% {
    text-shadow: 0 0 20px #FF1a1a, 0 0 20px #FF1a1a,0 0 20px #FF1a1a, 0 0 20px #FF1a1a,0 0 20px #FF1a1a,0 0 20px #FF1a1a,0 0 10px #FF1a1a, 0 0 10px #FF1a1a, 0 0 10px #FF1a1a, 0 0 5px #FF1a1a, 0 0 5px #FF1a1a,0 0 5px #FF1a1a, 0 0 5px #FF1a1a, 
                 0 0 5px #FF1a1a, 0 0 5px #FF1a1a, 0 0 5px #FF1a1a;
  }
}

